@font-face {
  font-family: 'is';
  src: url('./IRANSansWeb.woff') format('woff'),
    url('./IRANSansWeb.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'is';
  src: url('./IRANSansWeb_Bold.woff') format('woff'),
    url('./IRANSansWeb_Bold.ttf') format('truetype');
  font-weight: bold;
}
